<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <title th:text="#{email.changePassword.title}">Password change</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.changePassword.greeting(${user.login})}">
    Dear
</p>
<p th:text="#{email.changePassword.text1}">
    Your password has been changed. If you are not aware of this action, someone may have gained control of your
    account. Please reset the password or contact our support if this
    is not possible.
</p>
<p>
    <span th:text="#{email.changePassword.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">Gardle</em>
</p>
</body>
</html>
